<div class="filter__container">
  <p class="filter__title">Asset type</p>
  <ul>
    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="template" name="template" checked>
        <svg width='14' height='14'>
          <use class="icon-template" href='/assets/icons/sprite.svg#icon-0'></use>
        </svg>
        <label class="filter__template" for="template">Template</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="image" name="image" checked>
        <svg width='16' height='16'>
          <use class="icon-image" href='/assets/icons/sprite.svg#icon-1'></use>
        </svg>
        <label for="image">Image</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="video" name="video" checked>
        <svg width='16' height='16'>
          <use class="icon-video" href='/assets/icons/sprite.svg#icon-2'></use>
        </svg>
        <label for="video">Video</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="pdf" name="pdf" checked>
        <svg width='16' height='16'>
          <use class="icon-pdf" href='/assets/icons/sprite.svg#icon-3'></use>
        </svg>
        <label for="pdf">PDF</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="gif" name="gif" checked>
        <svg width='16' height='16'>
          <use class="icon-gif" href='/assets/icons/sprite.svg#icon-4'></use>
        </svg>
        <label for="gif">GIF</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="article" name="article" checked>
        <svg width='16' height='16'>
          <use class="icon-link" href='/assets/icons/sprite.svg#icon-5'></use>
        </svg>
        <label for="article">Article</label>
      </div>
    </li>
  </ul>
</div>